<!doctype html>
<html>

<style>
    a {
        color: blue !important;
        cursor: pointer;
    }

    #locationList {
        margin-top: 40px;
    }

    #listTitle {
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0px;
        padding-top: 20px;
    }

    #map {
        height: 100%;
    }

    #mapContainer {
        height: 800px;
        position: fixed;
        left: 25%;
    }

    html,
    body {
        height: 100%;
        margin: 10px;
        padding: 10px;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script async defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<head>
    <title>Locations of Articles</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
    <div class="row">
        <div id="locations" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="listTitle">
                <h2>Locations (DRAFT)</h2>
            </div>
            {% if locations %}
            <ol id="locationList">
                {% for location in locations %}

                <li>
                    <p><a onclick="showLocation({{ location.location.lat }}, {{ location.location.lng }})">{{ location.name }}</a></p>
                </li>
    
                {% endfor %}
            </ol>
    
            {% elif error_message %}
            <p>Error: {{ error_message }}</p>
            {% endif %}
        </div>
        <div id="mapContainer" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="map">
            </div>
        </div>
    </div>
    <script>
        var map;

        var heatMapData = null;
            

        function initMap() {

            heatMapData = new google.maps.MVCArray([]);

            /* Data points defined as a mixture of WeightedLocation and LatLng objects */
            var locs = {{locations|tojson}};

            locs.forEach(function(location) {
                //console.log(location)
                heatMapData.push(new google.maps.LatLng(location.location.lat, location.location.lng))
            })

            var hampton_roads = new google.maps.LatLng(36.6, -76.3637);

            map = new google.maps.Map(document.getElementById('map'), {
                center: hampton_roads,
                zoom: 9,
                mapTypeId: 'satellite'
            });

            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatMapData
            });
            heatmap.setMap(map);


        }

        function appendLocation(location, page) {
            var name = location.name
            location = location.location
            console.log(location);
            var locationList = document.getElementById("locationList");
            var li = document.createElement("li");
            var p = document.createElement("p");
            var a = document.createElement("a");
            var text = document.createTextNode(name);
            var loc = location.lat;
            //console.log(loc);
            loc = parseInt(loc);
            var method = "showArticles(" + location + ")";
            a.setAttribute("onclick", method);
            a.appendChild(text);
            p.appendChild(a);
            li.appendChild(p);
            locationList.appendChild(li);

            heatMapData.push(new google.maps.LatLng(location.lat, location.lng)
                        );
        }

        function getMoreLocations(page) {

            console.log("fetching more locations")
                

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    var locations = JSON.parse(xhttp.responseText);

                    locations.forEach(location => appendLocation(location, page));

                }
                console.log(this.status);
            };
            xhttp.open("GET", "/proper-locations/0.1/" + page, true);
            xhttp.send();
        }

        function showArticles(lat, lng) {
            console.log("Mapping Location: " + lat + ", " + lng);
        }

        function mark(location) {
            var myLatLng = {
                lat: location.location.lat,
                lng: location.location.lng
            };

            console.log(myLatLng);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: location.name
            });

        }

        var numScrolls = 0;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                getMoreLocations(++numScrolls)
            }
        });
    </script>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUTbge6vBRkzguyuwbBSVT_2Wu_gLi9nQ&callback=initMap&libraries=visualization">
    </script>


</body>

</html>