<!doctype html>
<html>

<head>
    <title>Entities</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div id="filter-panel" class="row">
        <div class="row">
            <div class="ui-widget col-11">
                <label for="section-search">Sections:</label>
                <input id="section-search" style="width: 100%;">
            </div>
            <div class="ui-widget col-1">
                <button class="btn btn-primary" style="margin-top:30px" onclick="mapSection()">Map</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="entities" class="col-5">
            <div id="listTitle" class="row">
                <div class="col-3">
                    <h2>Entities</h2>
                </div>
                <div class="col-1">
                    <button id="filter-btn" class="btn btn-primary">Filter</button>
                </div>
                <div class="col-1">
                    <button id="clear-btn" class="btn btn-primary">Clear</button>
                </div>
            </div>
            <ol id="entitiesList"></ol>
        </div>

        <div id="article" class="col-5" style="display:none">
            <div class="row">
                <div class="col-8">
                    <h2 id="cur-entity-name"></h2>
                </div>
                <div class="col-4">
                    <button id="article-back-btn" class="btn btn-primary">Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <h4>Article <span id="cur-num-article"></span> of <span id="total-num-articles"></span></h2>
                </div>
                <div class="col-4">
                    <button id="article-next-btn" class="btn btn-primary">Next</button>
                </div>
            </div>
            <div class="row m-1">
                <h5 style="width: 100%" id="article-title"></h5>
                <div id="article-date" class="text-muted"></div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div id="article-body"></div>
                </div>
                <div class="col-4">
                    <div id="article-locations">
                        <h5>Locations</h5>
                        <div id="article-locations-list"></div>
                    </div>
                    <div id="article-entities">
                        <h5>Other Entities</h5>
                        <div id="article-entities-list"></div>
                    </div>
                    <div id="article-sections">
                        <h5>Sections</h5>
                        <div id="article-sections-list"></div>
                    </div>
                    <div id="article-keywords">
                        <h5>Keywords</h5>
                        <div id="article-keywords-list"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mapContainer" class="col-7">
            <div id="map">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='map_entities.js') }}"></script>

    <script>

        var numScrolls = 0;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                if ($("#entities").is(":visible")) {
                    getMoreEntities(++numScrolls);
                }
            }
        });

        $(document).ready(function () {

            var availableSections = {{sections|tojson}};

            $("#section-search").autocomplete({
                source: availableSections
            });

            $("#city-search").autocomplete({
                source: availableCities
            });

            $("#clear-btn").click(function () {
                clearMap();
            });

            $("#filter-btn").click(function () {
                $("#filter-panel").slideToggle("slow");
            });

            $("#article-back-btn").click(function () {
                $("#article").hide();
                $("#entities").show();
            });

            $("#article-next-btn").click(function () {
                curArticle += 1;
                mapArticle(articleIds[curArticle]);
            });

        });
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUTbge6vBRkzguyuwbBSVT_2Wu_gLi9nQ&callback=initMap&libraries=visualization">
    </script>

</body>

</html>