<!doctype html>
<html>

<style>
    a {
        color: blue !important;
        cursor: pointer;
    }

    #entityList {
        margin-top: 40px;
    }

    #listTitle {
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0px;
        padding-top: 20px;
    }

    #map {
        height: 100%;
    }

    #mapContainer {
        height: 800px;
        position: fixed;
        left: 25%;
    }

    html,
    body {
        height: 100%;
        margin: 10px;
        padding: 10px;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script async defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<head>
    <title>Entities</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
    <div class="row">
        <div id="entities" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="listTitle">
                <h2>Entites (DRAFT)</h2>
            </div>
            <ol id="entitiesList" style="margin-top: 50px"></ol>
        </div>
        <div id="mapContainer" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="map">
            </div>
        </div>
    </div>
    <script>
        var map;

        var heatMapData = null;
        var iconUrl = 'http://icons.iconarchive.com/icons/mad-science/arcade-saturdays/32/Dot-icon.png';


        function initMap() {

            heatMapData = new google.maps.MVCArray([]);

            var hampton_roads = new google.maps.LatLng(36.6, -76.3637);

            map = new google.maps.Map(document.getElementById('map'), {
                center: hampton_roads,
                zoom: 9,
                icon: iconUrl,
                styles: [
                        {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                        {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                        {
                        featureType: 'administrative.locality',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                        },
                        {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                        },
                        {
                        featureType: 'poi.park',
                        elementType: 'geometry',
                        stylers: [{color: '#263c3f'}]
                        },
                        {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#6b9a76'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#38414e'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#212a37'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9ca5b3'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#746855'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#1f2835'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#f3d19c'}]
                        },
                        {
                        featureType: 'transit',
                        elementType: 'geometry',
                        stylers: [{color: '#2f3948'}]
                        },
                        {
                        featureType: 'transit.station',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#17263c'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#515c6d'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#17263c'}]
                        }
                    ]
            });

            // var heatmap = new google.maps.visualization.HeatmapLayer({
            //     data: heatMapData
            // });
            // heatmap.setMap(map);

            getMoreEntities(0);
        }

        function appendEntity(entity, page) {
            var entitiesList = document.getElementById("entitiesList");
            var li = document.createElement("li");
            var p = document.createElement("p");
            var a = document.createElement("a");
            var text = document.createTextNode(entity['entity']);
            var small = document.createElement("small");
            var smallText = document.createTextNode(entity['article_count'] + " articles");
            console.log(entity);
            // var method = "mapArticles(" + entity.article_ids + ")";
            // a.setAttribute("onclick", method);
            a.appendChild(text);
            small.appendChild(smallText);
            p.appendChild(a);
            p.appendChild(document.createElement("br"));
            p.appendChild(small);
            li.appendChild(p);
            entitiesList.appendChild(li);

            // heatMapData.push({
            //         "location":new google.maps.LatLng( entity['location']['lat'],  entity['location']['lng']),
            //         "weight": entity.article_count
            //         });

            mark(entity.location);
        }

        function getMoreEntities(page) {

            console.log("fetching more entities")
                

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    var entities = JSON.parse(xhttp.responseText);
                    //console.log(entities);

                    entities.forEach(entity => appendEntity(entity, page));

                }
                console.log(this.status);
            };
            xhttp.open("GET", "/entities/" + page, true);
            xhttp.send();
        }

        function mapArticles(article_ids) {
            console.log("Mapping Entity: " + article_ids);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    var article = JSON.parse(xhttp.responseText);

                    var locations = article.nl_entities.filter(nle => nle.type == "LOCATION" && nle.location != null);

                    locations.forEach(location => mark(location))

                }
            };

            article_ids.forEach(function(articleId) {
                xhttp.open("GET", "/article/" + articleId, true);
                xhttp.send();
            });

        }

        function mark(location) {
            var myLatLng = {
                lat: location.lat,
                lng: location.lng
            };

            console.log(myLatLng);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: iconUrl
            });

        }

        function showArticles(entity) {
            console.log("Showing Articles for Entity: " + entity);
        }

        var numScrolls = 0;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                getMoreEntities(++numScrolls)
            }
        });
    </script>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUTbge6vBRkzguyuwbBSVT_2Wu_gLi9nQ&callback=initMap&libraries=visualization">
    </script>


</body>

</html>