<!doctype html>
<html>

<style>
    a {
        color: blue !important;
        cursor: pointer;
    }

    #entityList {
        margin-top: 40px;
    }

    #listTitle {
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0px;
        padding-top: 20px;
    }

    #map {
        height: 100%;
    }

    #mapContainer {
        height: 800px;
        position: fixed;
        left: 25%;
    }

    html,
    body {
        height: 100%;
        margin: 10px;
        padding: 10px;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script async defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<head>
    <title>Entities</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
    <div class="row">
        <div id="entities" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="listTitle">
                <h2>Entities (DRAFT)</h2>
            </div>
            {% if entities %}
            <ol id="entityList">
                {% for entity in entities %}

                <li>
                    <p><a onclick="showEntity({{ entity }})">{{ entity.entity }}</a></p>
                </li>
    
                {% endfor %}
            </ol>
    
            {% elif error_message %}
            <p>Error: {{ error_message }}</p>
            {% endif %}
        </div>
        <div id="mapContainer" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="map">
            </div>
        </div>
    </div>
    <script>
        var map;

        var heatMapData = null;
            

        function initMap() {

            heatMapData = new google.maps.MVCArray([]);

            /* Data points defined as a mixture of WeightedLocation and LatLng objects */
            var ents = {{entities|tojson}};

            ents.forEach(function(entity) {
                //console.log(location)
                heatMapData.push({
                    "location":new google.maps.LatLng(entity.location.lat, entity.location.lng),
                    "weight":entity.article_count,
                });

            })

            var hampton_roads = new google.maps.LatLng(36.6, -76.3637);

            map = new google.maps.Map(document.getElementById('map'), {
                center: hampton_roads,
                zoom: 9,
                styles: [
                        {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                        {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                        {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                        {
                        featureType: 'administrative.locality',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                        },
                        {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                        },
                        {
                        featureType: 'poi.park',
                        elementType: 'geometry',
                        stylers: [{color: '#263c3f'}]
                        },
                        {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#6b9a76'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#38414e'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#212a37'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9ca5b3'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#746855'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#1f2835'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#f3d19c'}]
                        },
                        {
                        featureType: 'transit',
                        elementType: 'geometry',
                        stylers: [{color: '#2f3948'}]
                        },
                        {
                        featureType: 'transit.station',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#17263c'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#515c6d'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#17263c'}]
                        }
                    ]
            });

            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatMapData
            });
            heatmap.setMap(map);


        }

        function appendEntity(entity, page) {
            var name = entity.entity
            var loc = entity.location
            var lat = loc.lat;
            var lng = loc.lng;
            var entityList = document.getElementById("entityList");
            var li = document.createElement("li");
            var p = document.createElement("p");
            var a = document.createElement("a");
            var text = document.createTextNode(name);
            var method = "showArticles(" + entity + ")";
            a.setAttribute("onclick", method);
            a.appendChild(text);
            p.appendChild(a);
            li.appendChild(p);
            entityList.appendChild(li);

            heatMapData.push({
                    "location":new google.maps.LatLng(lat, lng),
                    "weight": entity.article_count
                    });
        }

        function getMoreEntities(page) {

            console.log("fetching more entities")
                

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    var entities = JSON.parse(xhttp.responseText);
                    //console.log(entities);

                    entities.forEach(entity => appendEntity(entity, page));

                }
                console.log(this.status);
            };
            xhttp.open("GET", "/entities/" + page, true);
            xhttp.send();
        }

        function showArticles(entity) {
            console.log("Showing Articles for Entity: " + entity);
        }

        function mark(entity) {
            var myLatLng = {
                lat: entity.location.lat,
                lng: entity.location.lng
            };

            console.log(myLatLng);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: entity.name
            });

        }

        var numScrolls = 0;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                getMoreEntities(++numScrolls)
            }
        });
    </script>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUTbge6vBRkzguyuwbBSVT_2Wu_gLi9nQ&callback=initMap&libraries=visualization">
    </script>


</body>

</html>