<!doctype html>
<html>

<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
        #map {
            height: 100%;
        }

        #mapContainer {
            height: 800px;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0px;
        }

        .header {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0px;
            z-index: 10;
            background: white;
            padding: 10px;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome.css') }}">

</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <!-- Sections Panel -->
            <div id="sections" class="col-4">
                <div class="header">
                    <button id="map-sections-btn" class="btn btn-primary float-right">Map</button>
                    <h5>Sections</h5>
                    <div class="form-inline">
                        <input id="section-filter" class="form-control mr-2" placeholder="Filter"/>
                        <button id="sections-select-all-btn" class="btn btn-success mr-2">Select All</button>
                        <button id="sections-select-clear-btn" class="btn btn-dark">Clear</button>
                    </div>
                </div>
                <div id="section-list"></div>
            </div>
            <!-- END Sections Panel -->

            <!-- Locations Panel -->
            <div id="locations" class="col-4" style="display:none">
                <div class="header">
                    <div class="float-right">
                        <button id="article-weight-btn" class="btn btn-warning active">Article Weight</button>
                        <button id="back-to-sections-btn" class="btn btn-primary">Back</button>
                    </div>
                    <h5>Locations</h5>
                </div>
                <div id="location-list"></div>
            </div>
            <!-- END Locations Panel -->

            <!-- Articles / Headlines Panel -->
            <div id="headlines" class="col-5" style="display:none">
                <div class="header">
                    <button id="back-to-locations-btn" class="btn btn-primary float-right">Back</button>
                    <h5>Articles</h5>
                </div>
                <div id="headline-list"></div>
            </div>
            <!-- END Articles / Headlines Panel -->

            <!-- Article Panel -->
            <div id="article" class="col-7" style="display:none">
                <div class="header">
                    <button id="back-to-headlines-btn" class="btn btn-primary float-right">Back</button>
                    <h5></h5>
                    <div id="article-date" class="text-muted"></div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div id="article-body"></div>
                    </div>
                    <div class="col-4">
                        <div id="article-locations">
                            <h5>Locations</h5>
                            <div id="article-locations-list"></div>
                        </div>
                        <div id="article-entities">
                            <h5>Other Entities</h5>
                            <div id="article-entities-list"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Article Panel -->

            <!-- Map Container -->
            <div id="mapContainer" class="col">
                <div id="map"></div>
            </div>
            <!-- END Map Container -->

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        var map;
        var heatmapLayer;
        var heatMapData;
        var marker;
        var hampton_roads;

        function initMap() {

            heatMapData = new google.maps.MVCArray([]);
            marker = new google.maps.Marker();
            hampton_roads = new google.maps.LatLng(36.6, -76.3637);

            map = new google.maps.Map(document.getElementById('map'), {
                center: hampton_roads,
                zoom: 9
            });

            heatmapLayer = new google.maps.visualization.HeatmapLayer({
                data: heatMapData,
                radius: 20,
                opacity: 0.8
            });
            heatmapLayer.setMap(map);
        }

        function getSections() {
            $.get('/api/sections', function(sections) {
                sections.forEach(section => {
                    $('#section-list').append('<div class="row"><div class="col noselect">' + section + '</div></div>');
                });
                $('#section-list .col').mousedown(function() {
                    $(this).toggleClass('alert-warning');
                });
            });
        }

        function getSelectedSections() {
            var sections = [];
            $('#section-list .alert-warning').each(function() {
                sections.push($(this).html());
            });
            return sections;
        }

        function isInHamptonRoads(lat, lng) {
            return lat > 36.5 &&  
                   lat < 37.2 && 
                   lng > -77 &&  
                   lng < -75.5;
        }

        var cities = [
            'hampton roads',
            'norfolk',
            'virginia beach',
            'portsmouth',
            'chesapeake',
            'suffolk',
            'newport news',
            'hampton'
        ];

        function getLocations() {
            $('#location-list').html('Loading...');

            $('#locations').show();
            $('#sections').hide();

            var sections = getSelectedSections();
            $.post('/api/locations', JSON.stringify(sections), function(locations) {
                console.log(locations);
                $('#location-list').html('');
                locations.forEach(location => {
                    var locationHtml = '<div class="location-name">' + location.location.address + '</div>';
                    var articleCountHtml = '<div class="text-muted small mb-1">' + location.article_count + ' articles</div>';
                    var locationButtons = '<div class="float-right">';
                    
                    if(isInHamptonRoads(location.location.lat, location.location.lng)) {
                        var isCity = cities.indexOf(location.location.address.toLowerCase()) !== -1;

                        locationButtons += '<span class="badge badge-success mr-3">Hampton Roads</span>';
                        locationButtons += '<button class="toggle-map btn btn-sm mr-1 ';
                        locationButtons += isCity ? 'btn-light' : 'btn-dark';
                        locationButtons += '"><i class="fas fa-fire"></i></button>';
                    }
                    
                        locationButtons += '<button class="toggle-marker btn btn-primary btn-sm mr-1"><i class="fas fa-map-marker"></i></button>';
                        locationButtons += '<button class="show-articles btn btn-primary btn-sm mr-1"><i class="fas fa-arrow-right"></i></button>';
                        locationButtons += '</div>';
                    var data = 'data-location="' + location.location.address + '"';
                        data += 'data-lat="' + location.location.lat + '"';
                        data += 'data-lng="' + location.location.lng + '"';
                        data += 'data-articles="' + location.article_count + '"';
                    $('#location-list').append('<div class="row"><div class="col" ' + data + '>' + locationButtons + locationHtml +  articleCountHtml + '</div></div>');
                });

                $('#location-list .toggle-map').click(function() {
                    $(this).toggleClass('btn-light');
                    $(this).toggleClass('btn-dark');
                    drawHeatmap();
                });
                
                $('#location-list .show-articles').click(function() {
                    var location = $(this).parent().parent().data('location');
                    getLocationHeadlines(location);
                });

                $('#location-list .toggle-marker').click(drawMarker);

                drawHeatmap();
            });
        }

        function drawHeatmap() {
            heatMapData.clear();
            $('#location-list .toggle-map.btn-dark').each(function() {
                var lat = $(this).parent().parent().data('lat');
                var lng = $(this).parent().parent().data('lng');
                var articles = $(this).parent().parent().data('articles');
                var weightArticles = $('#article-weight-btn').hasClass('active');

                heatMapData.push({
                    "location": new google.maps.LatLng(lat, lng),
                    "weight": weightArticles ? articles : 1
                });
            });
        }

        function drawMarker() {
            var lat = $(this).parent().parent().data('lat');
            var lng = $(this).parent().parent().data('lng');
            var location = $(this).parent().parent().data('location');
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(hampton_roads);

            if (marker.getTitle() === location) {
                marker.setMap(null);
                marker.setTitle(null);
                map.setCenter(hampton_roads);
                map.setZoom(9);
            } else {
                marker.setPosition({lat: lat, lng: lng});
                marker.setTitle(location);
                marker.setMap(map);
                bounds.extend(marker.getPosition());
                map.fitBounds(bounds);
            }
        }

        function getLocationHeadlines(locationName) {
            $('#headline-list').html('Loading...');

            $('#headlines').show();
            $('#locations').hide();

            var sections = getSelectedSections();
            $.post('/api/location/' + locationName, JSON.stringify(sections), function(articles) {
                console.log(articles);
                $('#headline-list').html('<ol></ol>');
                articles.forEach(article => {
                    $('#headline-list ol').append('<li class="headline" data-id="' + article.id + '"><button class="btn btn-link">' + article.headline + '</button></li>')
                });

                $('#headline-list .btn-link').click(function() {
                    var headline = $(this).html();
                    var articleId = $(this).parent().data('id');
                    showArticle(articleId, headline);
                });
            });
        }

        function showArticle(articleId, headline) {
            $('#article').show();
            $('#headlines').hide();

            $('#article .header h5').html(headline);
            $("#article-date").html('');
            $("#article-body").html('');
            $("#article-locations-list").html('');
            $("#article-entities-list").html('');

            $.get("/api/article/" + articleId)
                .done(function (article) {
                    $("#article-date").html(article.release_date);
                    $("#article-body").html(article.body.replace(/\|/g, '<br>'));

                    article.nl_entities.forEach(entity => {
                        var list = "";
                        if (entity.location)
                            list = "#article-locations-list";
                        else
                            list = "#article-entities-list";
                        $(list).append("<div>" + entity.name +
                            "</div><div class=\"text-muted small mb-1\">" + entity.type + " - " + (
                                entity.salience.toString().substring(0, 5)) + "</div>");
                    });
                });
        }

        $(document).ready(function () {
            getSections();

            $(document).mousedown(function() {
                $("#section-list .col").bind('mouseover',function() {
                    $(this).toggleClass('alert-warning');
                });
            })
            .mouseup(function() {
                $("#section-list .col").unbind('mouseover');
            });

            $('#section-filter').on('keyup', function() {
                var filter = $(this).val();
                $("#section-list .col").each(function() {
                    if(filter && $(this).html().indexOf(filter) === -1)
                        $(this).hide();
                    else
                        $(this).show();
                });
            });

            $('#sections-select-all-btn').click(function() {
                $("#section-list .col:visible").each(function() {
                    $(this).addClass('alert-warning');
                });
            });

            $('#sections-select-clear-btn').click(function() {
                $("#section-list .col:visible").each(function() {
                    $(this).removeClass('alert-warning');
                });
            });

            $('#map-sections-btn').click(getLocations);
            $('#back-to-sections-btn').click(function() {
                $('#locations').hide();
                $('#sections').show();
                heatMapData.clear();
            });

            $('#back-to-locations-btn').click(function() {
                $('#headlines').hide();
                $('#locations').show();
            });

            
            $('#back-to-headlines-btn').click(function() {
                $('#article').hide();
                $('#headlines').show();
            });

            $('#article-weight-btn').click(function() {
                $(this).toggleClass('active');
                $(this).toggleClass('btn-light');
                $(this).toggleClass('btn-warning');
                drawHeatmap();
            });
        });
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUTbge6vBRkzguyuwbBSVT_2Wu_gLi9nQ&callback=initMap&libraries=visualization">
    </script>

</body>

</html>