<!doctype html>
<html>

<head>
  <title>Story Where</title>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBnjQENpaKjDN-WUfGqPDL-dKkOxbVBe5g",
      authDomain: "story-where.firebaseapp.com",
      databaseURL: "https://story-where.firebaseio.com",
      projectId: "story-where",
      storageBucket: "story-where.appspot.com",
      messagingSenderId: "371426350965",
      appId: "1:371426350965:web:113297d19a71eafb19e53c",
      measurementId: "G-ZWWKVPC3WN"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <script>
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
    };

    if (typeof firebase === 'undefined') {
      const msg =
        "Please paste the Firebase initialization snippet into index.html. See https://console.firebase.google.com > Overview > Add Firebase to your web app.";
      console.log(msg);
      alert(msg);
    } else {
      var redirectUrl = getUrlParameter('redirect');
      if (redirectUrl) {
        firebase.auth().currentUser.getIdToken(true);
        console.log(firebase.auth().currentUser.toJSON());
        window.location = redirectUrl;
      }
    }
  </script>
  <!-- [START gae_python37_auth_include_firebaseui] -->
  <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
  <!-- [END gae_python37_auth_include_firebaseui] -->
  <script src="{{ url_for('static', filename='auth.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body style="text-align: center;">

  <!-- [START gae_python37_auth_firebase_html] -->
  <h1>Story Where</h1>

  <div id="firebaseui-auth-container"></div>

  <button id="sign-out" hidden=true>Sign Out</button>

  <div id="login-info" hidden=true>
    <h2>Login info:</h2>
    {% if user_data %}
    <dl>
      <dt>Name</dt>
      <dd>{{ user_data['name'] }}</dd>
      <dt>Email</dt>
      <dd>{{ user_data['email'] }}</dd>
    </dl>

    <h2>Pages</h2>
    <!-- <h3><a href="/map">Map</a></h3> -->
    <h3><a href="/heat-map">Heat Map</a></h3>
    <h3><a href="/postal-codes">Postal Codes</a></h3>

    <h2>API Endpoints</h2>
    <h3>Get</h3>
    <p><a href="api/article/1">api/article/[int:article_id]</a></p>
    <p><a href="api/entities">api/entities</a></p>
    <p><a href="api/entities/1">api/entities/[int:page]</a></p>
    <p><a href="api/entities/0/500">api/entities/[int:page]/[int:length]</a></p>
    <p><a href="api/headlines">api/headlines</a></p>
    <p><a href="api/headlines/1">api/headlines/[int:page]</a></p>
    <p><a href="api/headlines/0/500">api/headlines/[int:page]/[int:length]</a></p>
    <p><a href="api/info">api/info</a></p>
    <p><a href="api/info/0.5">api/info/[float:salience]</a></p>
    <p><a href="api/postal-codes">api/postal-codes</a></p>
    <p><a href="api/postal-codes/Portsmouth">api/postal-codes/[string:city]</a></p>
    <p><a href="api/sections">api/sections</a></p>
    <p><a href="api/sub-city-locations">api/sub-city-locations</a></p>
    <p><a href="api/sub-city-locations/Portsmouth">api/sub-city-locations/[string:city]</a></p>
    <h3>Post</h3>
    <p><a href="api/locations">api/locations</a></p>
    {% elif error_message %}
    <p>Error: {{ error_message }}</p>
    {% endif %}
  </div>
  <!-- [END gae_python37_auth_firebase_html] -->
</body>

</html>